html {
  scroll-behavior: smooth;
}

/*BODY*/
body {
  background-color: black;
  color: white;
}

h2 {
  color: white;
}

p {
  color: white;
}

h3 {
  color: white;
}

div {
    text-align: justify;
    text-justify: auto;
}

/*HERO*/
.hero {
  width: 100vw;
  height: 100vh;
  text-align: center;
  color: #CCC;
  position: relative;
  margin-bottom: 60px;
}

.hero-one {
  top: 0;
  position: absolute;
  width: 60%;
  background-color: black;
  height: 100vh;
  clip-path: polygon(0 0, 60vw 0, 40vw 100vh, 0 100vh);
  z-index: 1;
  background-image:linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url(../img/hero-background1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.hero-two {
  position: absolute;
  top: 0;
  right: 0;
  width: 60%;
  background-color: white;
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.5)), url(../img/hero-background2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.header-title {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header-primary {
  font-size: 2em;
  display: block;
  font-weight: 700;
  color: white;
  letter-spacing: .5em;
  padding-bottom: 40px;
  margin-top: 50px;
}

.header-secondary {
  font-size: .6em;
  color: white;
  letter-spacing: 1em;
}

.header-terciary {
    font-size: .4em;
    color: white;
    margin-top: 100px;
}

.header-terciary a {
    color: #c1c1c1;
    text-decoration: none;
    border: 1px solid #c1c1c1;
    padding: 10px;
}

.header-terciary a:hover {
    color: white;
    border: 1px solid white;
    padding: 10px;
}

/*ABOUT*/
.about {
  background: url("../img/about-bg.jpg") center center;
  background-size: cover;
  position: relative;
  padding: 80px 0;
}

.about:before {
  content: "";
  background: rgba(0, 0, 0, 0);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

.about .about-img {
  position: relative;
  transition: .5s;
}

.about .about-img img {
  max-width: 100%;
  border: 1px solid rgba(255, 255, 255);
  position: relative;
}

.about .about-img::before {
  position: absolute;
  left: 20px;
  top: 20px;
  width: 60px;
  height: 60px;
  z-index: 1;
  content: '';
  border-left: 5px solid #fff;
  border-top: 5px solid #fff;
  transition: .5s;
}

.about .about-img::after {
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 60px;
  height: 60px;
  z-index: 2;
  content: '';
  border-right: 5px solid #fff;
  border-bottom: 5px solid #fff;
  transition: .5s;
}

.about .about-img:hover {
  transform: scale(1.03);
}

.about .about-img:hover::before {
  left: 10px;
  top: 10px;
}

.about .about-img:hover::after {
  right: 10px;
  bottom: 10px;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  padding-bottom: 10px;
  color: white;
}

.about .content ul i {
  font-size: 20px;
  padding-right: 4px;
  color: white;
}

.about .content p:last-child {
  margin-bottom: 0;
}

@media (min-width: 1024px) {
  .about {
    background-attachment: fixed;
  }
}

/* Resume Section */
.resume h4 {
  color: #fff;
  text-align: center;
  margin-top: 1em;
  border-bottom: 1px solid white;
  width: 100%;
}

.resume h6 {
  color: #fff;
  padding-top: 1em;
  text-align: center;
}

.resume img {
  display: block;
  max-width: 100px;
  margin: auto;
  padding-top: 10px;
}

.resume ul li p{
  border-bottom: 1px solid white;
  width: 40%;
  margin: auto;
  text-align: center;
  margin-bottom: 5px;
}

.resume ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

.resume li:last-child {
    padding-bottom: 10px;
}

/*Section*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #1a1814;
}

.section-title {
  padding-bottom: 40px;
}

.section-title h2 {
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  line-height: 1px;
  margin: 0 0 5px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: white;
  font-family: "Poppins", sans-serif;
}

.section-title h2::after {
  content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  background: rgba(255, 255, 255, 0.2);
  margin: 4px 10px;
}

.section-title p {
  margin: 0;
  margin: 0;
  font-size: 36px;
  font-weight: 700;
  font-family: "Playfair Display", serif;
  color: #cda45e;
}

/*NAV BAR*/
.fixed-top {
  background-color: rgba(0, 0, 0, .75);
}

.navbar-light .navbar-brand {
  color: #fff;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}

.navbar-brand a {
  color: #fff;
}

.navbar-brand a:hover {
  color: #c1c1c1 !important;
} 

.navbar-light .navbar-nav .nav-link {
  color: #c1c1c1;
}

.navbar-toggler {
  background: #fff;
}

.navbar-nav {
  text-align: center;
}

.nav-link {
  padding: .2rem 1rem;
}

.nav-link.active,.nav-link:focus{
  color: #fff;
}

.navbar-toggler {
  padding: 1px 5px;
  font-size: 18px;
  line-height: 0.3;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: #fff;
}


/* Portfolio */
.projectPicture img, .twocolpic img {
    opacity: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    filter: grayscale(100%)
}

.projectPicture img {
    max-width: 350px;
    margin-bottom: 40px;
}

.twocolpic img {
    max-width: 525px;
}

.projects h2 {
    margin-bottom: 50px;
}

.projects h4 {
    font-size: 1.2em;
    margin-top: 20px;
}

.projects p {
    margin: ;
}

.projectPicture img:hover, .twocolpic img:hover {
  transform: scale(1.03);
  opacity: 100%;
  filter: grayscale(0%)
}


/*Arrow*/


/* Contact */
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: white;
    background-color: black;
    background-clip: padding-box;
    border: 1px solid white;
    border-radius: 0;
}

.form-control::placeholder {
    color: #c1c1c1;
}

.contact button {
    border: 1px solid white;
    margin-top: 30px;
    background-color: black;
    color: white;
}

.contact button:active {
    background-color: white;
    color: black;
    border-radius: 0;
    border: 1px solid white;
}


/*FOOTER*/
footer {
    background-image: url(../img/footer.jpeg);
    background-size: cover;
}

footer h6 a {
    color: #c1c1c1;
}

footer h6 a:hover {
    color: white;
    text-decoration: none;
}

/*TEST */

.arrow{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.arrow span{
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 5px solid #06A8FF;
    border-right: 5px solid #06A8FF;
    transform: rotate(-45deg);
    margin: -10px;
    animation: animate 2s infinite;
}

@keyframes animate {
    0%{
        opacity: 0;
        transform: rotate(-45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(-45deg) translate(20px,20px);
    }
}

/* MEDIA QUERIES */
@media screen and (max-width: 1024px) {
  .projectPicture img {
    max-width: 300px;
    margin-bottom: 40px;
  }

  .twocolpic img {
    max-width: 460px;
}


}


@media screen and (max-width: 980px) {
  .col {
    width: 100%;
  }
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
  .col-3 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-4 {
    flex: 0 0 33%;
    max-width: 33%;
  }

  .projects .col-4 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .projects .col-4:last-child {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .col-6 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
  .col-3 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .col-4 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .projects .col-4 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .col-6 {
    flex: 0 0 100%;
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

  .header-primary {
    font-size: 2em;
    display: block;
    font-weight: 700;
    color: white;
    letter-spacing: .1em;
    padding-bottom: 40px;
    margin-top: 50px;
  }

  .header-secondary {
  font-size: .6em;
  color: white;
  letter-spacing: .25em;
}